
.doughnutContainer{
	width:94%;
	margin-left: 3%;
	padding: 0 8%;
}

.rightPanelTitleWrap{
	// border-bottom:1px solid grey;
	// border:1px solid grey;
	height:18.5vh;
	text-align: left;
	color:#878787;

	h1, p{
		margin: 2% 5%;
		line-height: 1.8;
	}
}

.rightPanelMiddleWrap{
	// border:1px solid grey;
	height:18.5vh;
	color:#878787;
	text-align: left;

	 p{
		margin: 2% 5%;
		line-height: 1.8;
	}
	h1{
		 margin:5%
	}
}

.right-panel{

	h2{
	color:#878787;
	}
}