@import "../variables.scss";

.footer-wrapper {
  width: 60%;
  margin: 0 auto;
}
.footer-container {
  background: url(./assets/undraw_bus_stop_h370.svg);
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
}
