.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



// TODO: Move to sass ///////

.signTitle{
  color:#fff;
  font-size: 2.4rem;
}
.passwordInput, .emailInput{
  padding:3% 30%;
  border-radius: 30px;
  border:none;

}
.signupButton, .loginButton{
  padding:2% 10%;
  margin:6% 4%;
  border-radius: 30px;
}

.signupButton{


}
