@import url("https://fonts.googleapis.com/css?family=Cabin:400,400i|Khula:400,600,700&display=swap");

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}
